* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.d_flex {
  display: flex;
}

.active {
  background-color: #B3E5FC;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header_cont {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.header_cont .nav_list_head {
  margin-top: 60px;
}

.header_cont .nav_list_head .pagelist_head {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.header_cont .nav_list_head .pagelist_head li {
  display: inline;
}

.header_cont .nav_list_head .pagelist_head li:active a {
  background-color: #B3E5FC;
}

.header_cont .nav_list_head .pagelist_head li a {
  color: #000000;
  padding: 20px 10px;
}

.header_cont .nav_list_head .pagelist_head li:not(:last-child) {
  margin-right: 20px;
}

.main_cont {
  margin-top: 20px;
  background-image: url("/images/fondo-pag-speciali.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_cont .container {
  padding: 85px 0;
}

.main_cont .container h2 {
  font-size: 40px;
  color: #033074;
  margin: 20px 0;
}

.main_cont .container .pasta_link_desc .pasta_img_list {
  flex-wrap: wrap;
  width: 100%;
}

.main_cont .container .pasta_link_desc .pasta_img_list li {
  position: relative;
  width: calc((100% / 3) - 10px);
  overflow: hidden;
  margin-bottom: 10px;
}

.main_cont .container .pasta_link_desc .pasta_img_list li a img {
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.main_cont .container .pasta_link_desc .pasta_img_list li:hover a img {
  transform: scale(2);
  transition: all 2s;
}

.main_cont .container .pasta_link_desc .pasta_img_list li:hover .link_hover {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
}

.main_cont .container .pasta_link_desc .pasta_img_list li:not(:nth-child(3n+3)) {
  margin-right: 10px;
}

.main_cont .container .pasta_link_desc .pasta_img_list .link_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.main_cont .container .pasta_link_desc .pasta_img_list .link_hover h5 {
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
}

.main_cont .container .pasta_link_desc .pasta_img_list .link_hover img {
  filter: invert(1);
  height: auto;
  margin: 0 auto;
  width: 30px;
}

.bgcolor_main {
  margin-top: 20px;
  background-color: #B8DAE6;
  padding: 50px 0;
}

.bgcolor_main .title_type {
  color: #002D73;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

.bgcolor_main .img_list_desc {
  position: relative;
}

.bgcolor_main .img_list_desc .prev_link {
  position: absolute;
  top: 50%;
  left: 1%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  color: #000000;
  font-size: 30px;
}

.bgcolor_main .img_list_desc .big_img {
  width: 100%;
}

.bgcolor_main .img_list_desc .pack_img {
  width: 100%;
}

.bgcolor_main .img_list_desc .next_link {
  position: absolute;
  top: 50%;
  right: 1%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  color: #000000;
  font-size: 30px;
}

.bgcolor_main .container .description_type {
  color: #002D73;
  font-size: 32px;
}

.footer_cont {
  padding: 120px 0;
  background-image: url("/images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer_cont .container [class*=col_footer] {
  color: #848D9B;
}

.footer_cont .container [class*=col_footer] h3 {
  font-size: 30px;
  font-weight: 600;
}

.footer_cont .container [class*=col_footer] a {
  color: #848D9B;
}

.footer_cont .container [class*=col_footer] ul {
  margin: 20px 0;
  font-size: 18px;
}

.footer_cont .container [class*=col_footer] ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer_cont .container .frs_col_footer {
  width: 370px;
  margin-right: 70px;
}

.footer_cont .container .trd_col_footer {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .header_cont .nav_list_head .pagelist_head {
    font-size: 20px;
  }

  .main_cont .container {
    width: 95%;
  }

  .main_cont .container .pasta_link_desc .pasta_img_list {
    justify-content: space-between;
  }

  .main_cont .container .pasta_link_desc .pasta_img_list li {
    width: calc(50% - 10px);
  }

  .main_cont .container .pasta_link_desc .pasta_img_list li:not(:nth-child(even)) {
    margin-right: 10px;
  }

  .main_cont .container .pasta_link_desc .pasta_img_list li:not(:nth-child(odd)) {
    margin-right: 0;
  }

  .main_cont .container .pasta_link_desc .pasta_img_list .link_hover h5 {
    font-size: 14px;
  }

  .main_cont .container .pasta_link_desc .pasta_img_list .link_hover img {
    width: 10px;
  }

  .footer_cont .container {
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .footer_cont .container .frs_col_footer {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .footer_cont .container .scnd_col_footer {
    width: 100%;
    text-align: center;
  }

  .footer_cont .container .trd_col_footer {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 991px) and (min-width: 769px) {
  .main_cont .container {
    width: 90%;
  }

  .main_cont .container .pasta_link_desc .pasta_img_list {
    justify-content: space-between;
  }

  .main_cont .container .pasta_link_desc .pasta_img_list li {
    width: calc(50% - 10px);
  }

  .main_cont .container .pasta_link_desc .pasta_img_list li:not(:nth-child(even)) {
    margin-right: 10px;
  }

  .main_cont .container .pasta_link_desc .pasta_img_list li:not(:nth-child(odd)) {
    margin-right: 0;
  }

  .main_cont .container .pasta_link_desc .pasta_img_list .link_hover h5 {
    font-size: 14px;
  }

  .main_cont .container .pasta_link_desc .pasta_img_list .link_hover img {
    width: 10px;
  }

  .footer_cont .container {
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .footer_cont .container .frs_col_footer {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .footer_cont .container .scnd_col_footer {
    width: 50%;
  }

  .footer_cont .container .trd_col_footer {
    width: 50%;
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .footer_cont .container .frs_col_footer {
    margin-right: 30px;
  }

  .footer_cont .container .scnd_col_footer {
    margin-right: 30px;
  }
}

