.main_cont {
  margin-top: 20px;
  background-image: url('/images/fondo-pag-speciali.jpg');
  @include background_img;

  // products
  & .container {
    padding: 85px 0;

    & h2 {
      font-size: 40px;
      color: $color_blue;
      margin: 20px 0;
    }

    & .pasta_link_desc {

      & .pasta_img_list {
        flex-wrap: wrap;
        width: 100%;

        & li {
          position: relative;
          width: calc((100% / 3) - 10px);
          overflow: hidden;
          margin-bottom: 10px;

          & a img {
            width: 100%;
            height: 100%;
            transition: all 2s;
          }

          &:hover a img {
            transform: scale(2);
            transition: all 2s;
          }

          &:hover .link_hover {
            display: flex;
            background-color: rgba(0, 0, 0, 0.4);
          }
        }

        & li:not(:nth-child(3n+3)) {
          margin-right: 10px;
        }

        & .link_hover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: none;
          flex-direction: column;
          text-align: center;
          justify-content: space-around;

          & h5 {
            text-transform: uppercase;
            font-size: 20px;
            color: #ffffff;
          }

          & img {
            filter: invert(1);
            height: auto;
            margin: 0 auto;
            width: 30px;
          }
        }
      }
    }
  }
  // /products
}


// desc_products
.bgcolor_main {
  margin-top: 20px;
  background-color: #B8DAE6;
  padding: 50px 0;

  & .title_type {
    color: #002D73;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
  }

  & .img_list_desc {
    position: relative;

    & .prev_link {
      position: absolute;
      top: 50%;
      left: 1%;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      padding: 20px;
      color: #000000;
      font-size: 30px;
    }

    & .big_img {
      width: 100%;
    }

    & .pack_img {
      width: 100%;
    }

    & .next_link {
      position: absolute;
      top: 50%;
      right: 1%;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      padding: 20px;
      color: #000000;
      font-size: 30px;
    }
  }

  & .container {

    & .description_type {
      color: #002D73;
      font-size: 32px;
    }
  }
}
// /desc_products
